
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="selectCity">
    <option value="1">Item1</option>
    <option value="2">Item2</option>
    <option value="3">Item3</option>
</select>
<div id="div1"></div>
@section Styles {
    <style>

    </style>
}

@section Scripts {
    <script>
      //IIFE放到程式碼的最上面

      //call cities api
            (async () => {
                const api = '@Url.Content("~/api/cities")'
                const response = await fetch(api)
                const cities = await response.json()
                //console.log(cities)
                //讀取 json 資料
                //顯示資料
                const eleCities = cities.map(city => `<option value='${city}'>${city}</option>`)
                selCity.innerHTML = eleCities.join("")
            })();

        const selCity = document.querySelector('#selectCity')
        const divInfo = document.querySelector('#div1')

        selCity.addEventListener('change', () => {
            divInfo.textContent = selCity.value
            // const i = selCity.selectedIndex
            // console.log(selCity.options[i].value)
            // console.log(selCity.options[i].text)
        })


           

    </script>
}

