
@{
    ViewData["Title"] = "CallAPI";
}

<h1>CallAPI</h1>
<img src="~/uploads/cat1.jpg" alt="cat" class="w-50 img-thumbnail" /><br />
<button id="buttonStart" class="btn btn-primary">Ajax 開始</button>
<div id="div1" class="alert alert-secondary mt-3"></div>
@section Styles {
    <style>

    </style>
}

@section Scripts {
    <script>
        //找到要控制對象
        const btnStart = document.querySelector('#buttonStart')
        const divMessage = document.querySelector('#div1')

        //綁定事件(使用者行為)
        btnStart.addEventListener('click', async () => {
            //做甚麼事 call api
            // console.log(fetch('/api/index')) //得到是一個Promise物件
            // fetch('@Url.Content("~/api/index")')
            //     .then(response => {
            //         // console.log(response)
            //         // 讀取 response headers 的所有資料
            //         response.headers.forEach((value, name) => {
            //             console.log(`${name}: ${value}`);
            //         });
            //         //讀取headers中的一筆資料
            //         console.log(response.headers.get('content-length'))
            //         if (response.ok) {
            //             return response.text() //得到又是一個Promise物件
            //         }

                    
            //     })
            //     .then(data => divMessage.innerHTML = `<h3>${data}</h3>`) //Ajax, 您好

            //改用 async await
            try {
                const response = await fetch('@Url.Content("~/api/index1")')
                if (!response.ok) {
                    throw new Error(`${response.status}`)
                }
                const data = await response.text()
                divMessage.innerHTML = `<h3>${data}</h3>`
            } catch(error) {
                divMessage.innerHTML = `<h3>${error.message}</h3>`
            }
            
        })

        
    </script>
}
