
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>
<input type="number" id="numberId" />
<hr />
<img id="img1" class="w-50 img-thumbnail" />
@section Styles {
    <style>

    </style>
}

@section Scripts {
    <script>
        const myImg = document.querySelector('#img1')
        const numId = document.querySelector('#numberId')

        numId.addEventListener('keydown', async(event) => {
            // console.log(numId.value)
            if (event.which === 13) {
                const api = `@Url.Content("~/api/avatar")/${numId.value}`
                const response = await fetch(api)
                if (response.ok) {
                    const datas = await response.blob()
                    //顯示圖片
                    myImg.src = URL.createObjectURL(datas)
                } else {
                    alert('找不到圖')
                }
                  
            }
            
        })


        // (async() => {
        //     const api = '@Url.Content("~/api/avatar/5")'
        //     const response = await fetch(api)
        //     const datas = await response.blob()

        //     //顯示圖片
        //     myImg.src = URL.createObjectURL(datas)
        
        // })();

        

    </script>
}
