
@{
    ViewData["Title"] = "travel";
}

<h1>travel</h1>
<div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
        <nav aria-label="...">
            <ul class="pagination pagination-sm" id="ul1">               
                
               
            </ul>
        </nav>
    </div>
    <div class="col-3">
        <input type="search" placeholder="搜尋景點" id="inputSearch" class="form-control" />
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" id="div1">
   
</div>


@section Styles {
    <style>
      li{
          cursor:pointer
      }
    </style>
}

@section Scripts {
    <script>
        const searchData = {
            "categoryId": 0,
            "keyword": "北投",
            "page": 2,
            "pageSize": 9,
            "sortType": "desc",
            "sortBy": "categoryId"
        }
        const divSpots = document.querySelector('#div1')
        const ulPage = document.querySelector('#ul1')
        const inpSearch = document.querySelector('#inputSearch')

        //關鍵字搜尋
        inpSearch.addEventListener('keydown', event => {
            if (event.which === 13) {
                searchData.keyword = inpSearch.value
                loadSpots()
            }
        })

        //載入景點資料
        const loadSpots = async () => {
            const api = '@Url.Content("~/api/spots")'
            const response = await fetch(api, {
                method:'POST',
                body: JSON.stringify(searchData),
                headers: {
                    'Content-Type':'application/json'
                }
            })

            const data = await response.json()
            console.log(data)

            //JSON 資料讀取及顯示
            const spots = data.spotsResult.map(spot => {
                const { address, spotTitle, spotDescription, spotImage, spotId } = spot
                return(`
                     <div class="col">
                        <div class="card h-100">
                            <img src="${spotImage}" class="card-img-top img-th" alt="${spotTitle}">
                            <div class="card-body">
                                <h5 class="card-title">${spotTitle}</h5>
                                <p class="card-text">${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0,100)}...</p>
                            </div>
                            <div class="card-footer">
                               <small class="text-body-secondary" > ${ address } </small>
                            </div>
                        </div>
                    </div>

                        `)
            })

                    divSpots.innerHTML = spots.join("")

            //產生分頁按鈕
            let liPages = ""
            for (let i = 1, max = data.totalPages; i <= max; i++) {
                liPages += `<li class="page-item" onclick="pagingHandler(${i})"><a class="page-link">${i}</a></li>`
            }
            ulPage.innerHTML = liPages;
        }

        //分頁
        const pagingHandler = page => {
            searchData.page = page
            loadSpots()
        }

        loadSpots()
    </script>
}
